<%= @search %>
<div class="wrapper">
  <div class="page_preloader" style="display: none;"></div>

  <!-- ======================= Start Banner ===================== -->
  <div class="utf_main_banner_area" style="background-image:url(assets/slider_bg.jpg);" data-overlay="8">
    <div class="container">
      <div class="col-md-8 col-sm-10">
        <div class="caption cl-white home_two_slid">
          <h2>Search Between More Then <span class="theme-cl">50,000</span> Open Jobs.</h2>
          <p>Trending Jobs Keywords:
            <span class="trending_key">
              <a href="#">Web Designer</a></span> <span class="trending_key">
              <a href="#!">Web Developer</a>
            </span>
            <span class="trending_key">
              <a href="#!">IOS Developer</a>
            </span>
            <span class="trending_key">
              <a href="#!">Android Developer</a>
            </span>
          </p>
        </div>
        <form action="/jobs">
          <fieldset class="utf_home_form_one">
            <div class="col-md-4 col-sm-4 padd-0">
              <input type="text" name="keyword" class="form-control br-1" placeholder="Search Keywords...">
            </div>
            <div class="col-md-3 col-sm-3 padd-0">
              <select class="wide form-control br-1" name="work_place" style="display: none;">
                <option data-display="Location" value>Show All</option>
                <%= render partial: "item", collection: @work_places %>
              </select>
            </div>

            <div class="col-md-3 col-sm-3 padd-0">
              <select class="wide form-control" name="category" style="display: none;">
                <option data-display="Category" value>Show All</option>
                <%= render partial: "item", collection: @categories %>
              </select>
            </div>

            <div class="col-md-2 col-sm-2 padd-0 m-clear">
              <button type="submit" class="btn theme-btn cl-white seub-btn">Search</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <!-- ======================= End Banner ===================== -->

  <!-- ================= Job start ========================= -->
  <section class="padd-top-80 padd-bot-80">
    <div class="container">
      <div class="col-md-12 mrg-bot-20 text-center">
        <a href="#!" class="btn theme-btn btn-m">Browse All Jobs</a>
      </div>

      <div class="tab-content">
        <div class="tab-pane fade in show active" id="recent" role="tabpanel">
          <div class="row">

            <div class="utf_grid_job_widget_area">
              <div class="utf_job_like">
                <label class="toggler toggler-danger">
                  <input type="checkbox" checked="">
                  <i class="fa fa-heart"></i>
                </label>
              </div>
              <div class="u-content">
                <h5><a href="#!">Product Redesign</a></h5><p class="job-type full-type">address</p>
                <p class="text-muted">2708 Scenic Way, IL 62373</p>
              </div>
            </div>

            <!-- Single Job -->
            <div class="col-md-3 col-sm-6">
              <div class="utf_grid_job_widget_area"> <span class="job-type full-type">Full Time</span>
                <div class="utf_job_like">
                  <label class="toggler toggler-danger">
                    <input type="checkbox" checked="">
                    <i class="fa fa-heart"></i>
                  </label>
                </div>
                <div class="u-content">
                  <div class="avatar box-80"> <a href="#!"> <img class="img-responsive" src="assets/company_logo_1.png" alt=""> </a> </div>
                  <h5><a href="#!">Product Redesign</a></h5>
                  <p class="text-muted">2708 Scenic Way, IL 62373</p>
                </div>
                <div class="utf_apply_job_btn_item"> <a href="#!" class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
              </div>
            </div>

            <!-- Single Job -->
            <div class="col-md-3 col-sm-6">
              <div class="utf_grid_job_widget_area"> <span class="job-type full-type">Full Time</span>
                <div class="utf_job_like">
                  <label class="toggler toggler-danger">
                    <input type="checkbox">
                      <i class="fa fa-heart"></i>
                  </label>
                </div>
                <div class="u-content">
                  <div class="avatar box-80"> <a href="#!"> <img class="img-responsive" src="assets/company_logo_2.png" alt=""> </a> </div>
                  <h5><a href="#!">New Product Mockup</a></h5>
                  <p class="text-muted">2708 Scenic Way, IL 62373</p>
                </div>
                <div class="utf_apply_job_btn_item"> <a href="#!" class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
              </div>
            </div>

            <!-- Single Job -->
            <div class="col-md-3 col-sm-6">
              <div class="utf_grid_job_widget_area"> <span class="job-type part-type">Part Time</span>
                <div class="utf_job_like">
                  <label class="toggler toggler-danger">
                    <input type="checkbox" checked="">
                    <i class="fa fa-heart"></i>
                  </label>
                </div>
                <div class="u-content">
                  <div class="avatar box-80"> <a href="#!"> <img class="img-responsive" src="assets/company_logo_3.png" alt=""> </a> </div>
                  <h5><a href="#!">Custom Php Developer</a></h5>
                  <p class="text-muted">3765 C Street, Worcester</p>
                </div>
                <div class="utf_apply_job_btn_item"> <a href="#!" class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
              </div>
            </div>

            <!-- Single Job -->
            <div class="col-md-3 col-sm-6">
              <div class="utf_grid_job_widget_area"> <span class="job-type part-type">Part Time</span>
                <div class="utf_job_like">
                  <label class="toggler toggler-danger">
                    <input type="checkbox">
                    <i class="fa fa-heart"></i>
                  </label>
                </div>
                <div class="u-content">
                  <div class="avatar box-80"> <a href="#!"> <img class="img-responsive" src="assets/company_logo_4.png" alt=""> </a> </div>
                  <h5><a href="#!">Wordpress Developer</a></h5>
                  <p class="text-muted">2719 Duff Avenue, Winooski</p>
                </div>
                <div class="utf_apply_job_btn_item"> <a href="#!" class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 mrg-top-20 text-center">
        <a href="#!" class="btn theme-btn btn-m">Browse All Jobs</a>
      </div>
    </div>
  </section>
</div>
